.titulo-card{
    font-size: calc(0.6rem + 1.5vw);
}
.color_esporte{
    color: #32CD32;
}
.color_esporte-fundo{
    background-color: #32cd32ad;
    border-radius: 7px;
}
.color_tecnologia{
    color: #FF8C00;
}
.color_tecnologia-fundo{
    background-color: #ff8c00c5;
    border-radius: 7px;
}
.color_economia{
    color: #FFD700;
}
.color_economia-fundo{
    background-color: #ffd900ab;
    border-radius: 7px;
}
.color_entreterimento{
    color: #0000FF;
}
.color_entreterimento-fundo{
    background-color: #0000ffb6;
    border-radius: 7px;
}
.color_games{
    color: #FF0000;
}
.color_games-fundo{
    background-color: #ff0000af;
    border-radius: 7px;
}